<!DOCTYPE html>
<html class="no-js sg-all">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Styleguide | All</title>
        {{#each stylesheets}}
        <link rel="stylesheet" href="{{.}}"/>
        {{/each}}
        <link rel="stylesheet" href="/client/styleguide.css"/>
    </head>
    <body>
        <h1>Test from my repo</h1>
        <div class="sg-container">
            <div class="ocl-ui-wrap">
                {{#components}}
                <h2 class="sg-component-title">{{capitalizedName}}</h2>
                {{{content}}}
                {{/components}}
            </div>
        </div>

        {{#each scripts}}
        <script src="{{.}}"></script>
        {{/each}}
    </body>
</html>
